<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/header') %>
  </head>

  <body class="hold-transition sidebar-mini">
    <div class="wrapper">
      <%- include('./partials/navbar') %><%- include('./partials/sidebar') %>
      <%- include('./partials/content-wrapper') %>><%-
      include('./partials/footer') %>
      <!-- <aside class="control-sidebar control-sidebar-dark">
      </aside> -->
    </div>
    <%- include('./partials/js') %>
  </body>
</html>
